In [ ]:
from google.colab import drive

In [ ]:
drive.mount('_content_drive')

Mounted at _content_drive

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_json('/content/_content_drive/MyDrive/Starbucks /Starbucks/updated data /Users.json', lines=True)

In [ ]:
data1 = pd.read_json('/content/_content_drive/MyDrive/Starbucks /Starbucks/updated data /Users_.json', lines=True)

In [ ]:
Data= pd.concat([data.iloc[:850, :], data1.iloc[:850, :]], axis=1)

In [ ]:
print(Data)

     User_ID       name            location  Rating   ID Gender  Age  \
0          1      Helen   Wichita Falls, TX     5.0    0          18
1          2   Courtney          Apopka, FL     5.0    1      F   55
2          3   Daynelle   Cranberry Twp, PA     5.0    2          18
3          4     Taylor         Seattle, WA     5.0    3      F   75
4          5    Tenessa         Gresham, OR     5.0    4          18
..       ...        ...                 ...     ...  ...    ...  ...
845      846      Becky    Agoura Hills, CA     NaN  845      F   54
846      847        Bob        Goodrich, MI     NaN  846      F   56
847      848       Erik  Valley Village, CA     NaN  847          18
848      849     Andrew       Fallbrook, CA     NaN  848      M   58
849      850  Christian          Ramsey, NJ     NaN  849      F   56

    Membership_date    income
0        12-02-2017
1        15-07-2017  112000.0
2        12-07-2018
3        09-05-2017  100000.0
4        04-08-2017
..              ...       ...
845      11-02-2017   82000.0
846      24-06-2016   55000.0
847      03-06-2016
848      20-04-2018   41000.0
849      20-07-2018   91000.0

[850 rows x 9 columns]

In [ ]:
Data = Data.drop(['ID','Rating','Membership_date'], axis=1)

In [ ]:
print(Data)

     User_ID       name            location Gender  Age    income
0          1      Helen   Wichita Falls, TX          18
1          2   Courtney          Apopka, FL      F   55  112000.0
2          3   Daynelle   Cranberry Twp, PA          18
3          4     Taylor         Seattle, WA      F   75  100000.0
4          5    Tenessa         Gresham, OR          18
..       ...        ...                 ...    ...  ...       ...
845      846      Becky    Agoura Hills, CA      F   54   82000.0
846      847        Bob        Goodrich, MI      F   56   55000.0
847      848       Erik  Valley Village, CA          18
848      849     Andrew       Fallbrook, CA      M   58   41000.0
849      850  Christian          Ramsey, NJ      F   56   91000.0

[850 rows x 6 columns]

In [ ]:
Data.to_json('Customer.json', orient='records', lines=True)